@font-face {
    font-family: "Shabnam";
    src: url("../fonts/Shabnam.ttf");
}

html, body {
    font-family: "Shabnam", sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    direction: rtl;
    margin-bottom: 60px;
}